<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"content="text/html;charset=UTF-8"/>
    <title>Pet Shelter</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">

        </div>
        <div class="body">

            <div align="center">
                <ul>
                    <h1>Animals for adoption</h1>
                    <li th:each="animal : ${listOfAnimals}">
                        <a th:text="|${animal.name} - ${animal.type}|" th:href="|/animal?name=${animal.name}|"></a>
                    </li>
                </ul>
            </div>

            <hr>

            <div align="center">
                <h3>Filter Animals By Type</h3>
                <form action="#" method="post" th:action="@{/filterByType}" th:object="${animal}">
                    <select th:field="*{type}" class="form-control" id="filterType">
                        <option value="All Animals">All Animals</option>
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                        <option value="Rat">Rat</option>
                    </select>
                    <button type="submit" class="btn btn-default">Filter</button>
                </form>
            </div>

            <hr>

            <div align="center">
                <h2>Use form below to report animal for adoption</h2>
                <form action="#" method="post" th:action="@{/addAnimal}" th:object="${animal}">
                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" id="name" name="name"  placeholder="Enter name of animal" /></br>
                    <div class="select" style="width: 50%; padding: 12px 20px; margin: 8px 0;">
                        <label for="type">Type</label>
                        <select th:field="*{type}" class="form-control" id="type" style="width: 100%; padding: 12px 20px; margin: 8px 0;">
                            <option value="Dog">Dog</option>
                            <option value="Cat">Cat</option>
                            <option value="Rat">Rat</option>
                        </select></br>
                    </div>
                    <label for="description">Description</label>
                    <input type="text" th:field="*{description}" id="description" name="description"  placeholder="Enter description of animal" /></br>
                    <input type="submit" value="Report Animal">
                </form>
            </div>


        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>